PORT ="" 				# Provide a value for PORT 
MONGODB_URI ="" 				# Provide a value for MONGODB_URI 
# MONGO_URI = mongodb+srv://pranav:HPXKomx2n3Zl6t7W@backend-tutorial.kqxjiqi.mongodb.net/spltiwise
# JWT
ACCESS_TOKEN_SECRET ="" 				# Provide a value for ACCESS_TOKEN_SECRET 
JWT_EXPIRES_IN ="" 				# Provide a value for JWT_EXPIRES_IN 

# CLIENT_SECRET = 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